
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name:  {{'{{'}} include "{{ app.name }}.fullname" . {{'}}'}}
  labels:
    {{'{{'}}- include "{{ app.name }}.labels" . | nindent 4 {{'}}'}}
spec:
  {{'{{'}}- if .Values.istioinjection {{'}}'}}
  selector:
    istio: ingressgateway # use istio default controller
  {{'{{'}}- end {{'}}'}}
  servers:
  - port:
      number:  {{'{{'}} .Values.gateway.port {{'}}'}}
      name:  {{'{{'}} .Values.gateway.portname {{'}}'}}
      protocol:  {{'{{'}} .Values.gateway.protocol {{'}}'}}
    hosts:
    -  {{'{{'}} .Values.gateway.domain {{'}}'}}