

{% if config.deployment == 'enabled' %}
image:
  repository: {{ deployment.container.registry }}{{ deployment.container.name }}
  pullPolicy: IfNotPresent
  version: {{ deployment.container.tag }}
  PullSecret: 
    - name: {{ app.name }} 
replicaCount: 1
{% endif %}


{% if config.pullsecret == 'enabled' %}
secretfile:
  version: 0.0.3
{% endif %}
   


{% if config.service == 'enabled' %}
service:
  type: {{ service.type }}
  port: {{ service.port }}
  containerPort: {{ service.containerPort }}
  enabled: true
{% else %}
  service:
  enabled: true
  type: 
{% endif %}


{% if config.ingress == 'enabled' %}
ingress:
  enabled: true
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
      paths: []
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local


{% else %}
ingress:
  enabled: false
{% endif %}



{% if config.deployment == 'enabled' %}
deployment:
  ports:
{% for item in deployment.containerPorts %}
    - name: {{ item.name }}
      containerPort: {{ item.containerPort }}
      protocol: {{ item.protocol }}
{% endfor %}
  env:
{% for item in deployment.env %}
    - name: {{ item.name }}
      valueFrom:
        secretKeyRef:
           name: {{ item.valueFrom.secretKeyRef.name }}
           key: {{ item.valueFrom.secretKeyRef.key }} 
{% endfor %}
{% endif %}

{% if config.gateway == 'enabled' %}
gateway:
  port: {{ gateway.port }}
  portname: {{ gateway.portname }}
  protocol: {{ gateway.protocol }}
  domain: {{ gateway.domain }}
{% endif %}

{% if config.virtualService == 'enabled' %}
virtualService:
  destination:
{% for item in virtualService.destination %}
    - match: 
      - uri:
         prefix: {{ item.path}}   
      route:
      - destination: 
          host: {{ item.host }}
          port: 
            number: {{ item.port }}
{% endfor %}
{% endif %}

{% if config.serviceAccount == 'enabled' %}
serviceAccount:
  create: true
  annotations: {}
  name:
{% endif %}

istioinjection: enabled

  

