

{% if config.deployment is sameas 'enabled' %}
image:
  repository: {{ deployment.container.registry }}{{ deployment.container.name }}
  pullPolicy: IfNotPresent
  version: {{ deployment.container.tag }}
  PullSecret: 
    - name: {{ app.name }} 
replicaCount: 1
{% endif %}


{% if config.pullsecret is sameas 'enabled' %}
secretfile:
  version: 0.0.3
{% endif %}
   


{% if config.deployment is sameas 'enabled' %}
service:
  type: ClusterIP
  port: 80
{% endif %}
{% if config.deployment is sameas 'enabled' %}
ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
      paths: []
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local
{% endif %}

{% if config.deployment is sameas 'enabled' %}
deployment:
  ports:
{% for item in deployment.containerPorts %}
    - name: {{ item.name }}
      containerPort: {{ item.containerPort }}
      protocol: {{ item.protocol }}
{% endfor %}
  env:
{% for item in deployment.env %}
    - name: {{ item.name }}
      valueFrom:
        secretKeyRef:
           name: {{ item.valueFrom.secretKeyRef.name }}
           key: {{ item.valueFrom.secretKeyRef.key }} 
{% endfor %}
{% endif %}

{% if config.gateway is sameas 'enabled' %}
gateway:
  port: {{ gateway.port }}
  portname: {{ gateway.portname }}
  protocol: {{ gateway.protocol }}
  domain: {{ gateway.domain }}
{% endif %}

{% if config.virtualService is sameas 'enabled' %}
virtualService:
  destination:
{% for item in virtualService.destination %}
    - match: 
      - uri:
         prefix: {{ item.path}}   
      route:
      - destination: 
          host: {{ item.host }}
          port: 
            number: {{ item.port }}
{% endfor %}
{% endif %}



  

